In [6]:
import json
import pandas as pd
import requests

files_path = 'files/'
url="https://toar-data.fz-juelich.de/api/v2/"

variables_url = url + 'variables/'
stations_url = url + 'stationmeta/'
timeseries_url = url + 'timeseries/'
timeseries_data_url = url + 'data/timeseries/'

try:
    with open(files_path + 'toar_apikey.txt', 'r') as f:
        token = f.read().strip()
except FileNotFoundError:
    token = ''
    print(f"API key file not found. Please ensure 'toar_apikey.txt' exists in the {files_path} directory.")

headers = {'AccessToken': token}

# Variables metadata

In [7]:
params = { 'limit': 'None'}
response = requests.get(variables_url, headers=headers, params=params)

In [8]:
if response.status_code == 200:
    variables_json = response.json()
    
    print(f'Correctly loaded metadata from {len(variables_json)} variables:')
else:
    print(f"Error: {response.status_code} - {response.text}")

Correctly loaded metadata from 37 variables:

In [10]:
variables_df = pd.DataFrame(variables_json)
variables_df.rename(columns={'id': 'variable_id'}, inplace=True)
variables_df.head(10)

,name,longname,displayname,cf_standardname,units,chemical_formula,variable_id
0,benzene,benzene,Benzene,mole_fraction_of_benzene_in_air,nmol mol-1,C6H6,1
1,co,carbon monoxide,CO,mole_fraction_of_carbon_monoxide_in_air,nmol mol-1,CO,2
2,no,nitrogen monoxide,NO,mole_fraction_of_nitrogen_monoxide_in_air,nmol mol-1,NO,3
3,pm1,particles up to 1 µm diameter,PM 1,mass_concentration_of_pm1_ambient_aerosol_in_air,µg m-3,,4
4,o3,ozone,Ozone,mole_fraction_of_ozone_in_air,nmol mol-1,O3,5
5,no2,nitrogen dioxide,NO2,mole_fraction_of_nitrogen_dioxide_in_air,nmol mol-1,NO2,6
6,toluene,toluene,Toluene,mole_fraction_of_toluene_in_air,nmol mol-1,C7H8,7
7,so2,Sulphur dioxide,SO2,mole_fraction_of_sulfur_dioxide_in_air,nmol mol-1,SO2,8
8,ethane,Ethane,Ethane,mole_fraction_of_ethane_in_air,nmol mol-1,C2H6,9
9,propane,Propane,Propane,mole_fraction_of_propane_in_air,nmol mol-1,C3H8,10

# Bounding Box
(min_lat, min_lon, max_lat, max_lon in degrees_north/degrees_east)

In [16]:
min_lat = 19.0487187
max_lat = 19.5927572
min_lon = -99.3649242
max_lon = -98.9403028

# Stations metadata

In [ ]:
params = {
    'limit': 'None',
    'bounding_box': f'{min_lat},{min_lon},{max_lat},{max_lon}'
}

response = requests.get(stations_url, headers=headers, params=params)

In [18]:
if response.status_code == 200:
    stations_json = response.json()
    
    print(f'Correctly loaded metadata from {len(stations_json)} stations:')
else:
    print(f"Error: {response.status_code} - {response.text}")

Correctly loaded metadata from 42 stations:

In [19]:
stations_data = []
for s in stations_json:
    d = {
        'id': s.get('id'),
        'name': s.get('name'),
        'lat': s.get('coordinates', {}).get('lat',-1),
        'lon': s.get('coordinates', {}).get('lng',-1),
        'alt': s.get('coordinates', {}).get('alt',-1),
        'country': s.get('country'),
        'state': s.get('state'),
        'type': s.get('type', s.get('type_of_area'))
    }
    stations_data.append(d)

# optional: convert to DataFrame for easy inspection
stations_df = pd.DataFrame(stations_data)
stations_df.head(5)

,id,name,lat,lon,alt,country,state,type
0,17,Pedregal,19.32515,-99.2041,2326.0,Mexico,Distrito Federal,traffic
1,1318,Santa Fe,19.35730,-99.2628,-999.0,Mexico,,unknown
2,1634,Tlahuac,19.24640,-99.0100,-999.0,Mexico,,unknown
3,1712,Atizapán,19.57700,-99.2542,-999.0,Mexico,,unknown
4,1873,UAM Xochimilco,19.30440,-99.0738,-999.0,Mexico,,unknown

# Time Series

In [ ]:
params = {
    'limit': 'None',
    'station_id': ','.join(stations_df['id'].astype('str').tolist()),
    }

response = requests.get(timeseries_url, headers=headers, params=params)

In [21]:
if response.status_code == 200:
    timeseries_json = response.json()
    
    print(f'Correctly loaded metadata from {len(timeseries_json)} timeseries:')
else:
    print(f"Error: {response.status_code} - {response.text}")

Correctly loaded metadata from 786 timeseries:

In [22]:
timeseries_dict = []

# extract relevant fields
for s in timeseries_json:
    d = {
        'timeseries_id': s.get('id'),
        'variable_id': s.get('variable', {}).get('id'),
        'id': s.get('station', {}).get('id'),
        'sampling_frequency': s.get('sampling_frequency'),
        'start_date': s.get('data_start_date'),
        'end_date': s.get('data_end_date'),
        
    }
    timeseries_dict.append(d)

# convert to DataFrame
timeseries_df = pd.DataFrame(timeseries_dict)
timeseries_df.head(5)

,timeseries_id,variable_id,id,sampling_frequency,start_date,end_date
0,18,5,17,hourly,1986-01-17T07:00:00+00:00,2016-01-01T06:00:00+00:00
1,681,19,1318,irregular data samples of varying length,2016-05-04T22:00:00+00:00,2022-09-29T21:00:00+00:00
2,682,13,1318,irregular data samples of varying length,2016-05-04T22:00:00+00:00,2022-09-29T21:00:00+00:00
3,683,2,1318,irregular data samples of varying length,2016-03-29T12:00:00+00:00,2022-09-29T21:00:00+00:00
4,684,8,1318,irregular data samples of varying length,2016-03-29T08:00:00+00:00,2022-09-29T21:00:00+00:00

In [23]:
# Merge timeseries, stations and variables data
timeseries_df = timeseries_df.merge(variables_df.rename(columns={'name':'variable_name'}),
                    on='variable_id', 
                    how='left')\
                        .merge(stations_df.rename(columns={'name':'station_name'}),
                               on='id', 
                               how='left')

In [ ]:
timeseries_df.groupby(['variable_name']).agg({'start_date': 'min',
                                              'end_date': 'max',
                                              'timeseries_id': 'count'})

,start_date,end_date,timeseries_id
variable_name,,,
cloudcover,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
co,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,37
humidity,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
irradiance,2006-01-01T07:00:00+00:00,2021-12-31T23:00:00+00:00,42
leaf_area_index,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
no2,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,36
o3,1986-01-17T07:00:00+00:00,2022-09-29T21:00:00+00:00,39
pblheight,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
pm10,2016-03-10T08:00:00+00:00,2022-10-10T16:00:00+00:00,24
pm2p5,2016-03-10T08:00:00+00:00,2022-10-04T13:00:00+00:00,26
press,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
relhum,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
so2,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,36
tdew2m,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
temp,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
totprecip,2006-01-01T07:00:00+00:00,2021-12-31T23:00:00+00:00,42
u,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
v,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
wdir,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42
wspeed,2000-01-01T00:00:00+00:00,2022-12-31T23:00:00+00:00,42

In [ ]:
# filter only data from pollutants
timeseries_df.query('variable_name.isin(["o3","co","no2","so2","pm2p5","pm10"])', inplace=True)
timeseries_df.groupby(['variable_name']).agg({'start_date': 'min', 
                                              'end_date': 'max', 
                                              'timeseries_id': 'count'})

,start_date,end_date,timeseries_id
variable_name,,,
co,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,37
no2,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,36
o3,1986-01-17T07:00:00+00:00,2022-09-29T21:00:00+00:00,39
pm10,2016-03-10T08:00:00+00:00,2022-10-10T16:00:00+00:00,24
pm2p5,2016-03-10T08:00:00+00:00,2022-10-04T13:00:00+00:00,26
so2,2016-03-10T08:00:00+00:00,2022-09-29T21:00:00+00:00,36

In [26]:
timeseries_df.to_csv(files_path + 'timeseries_metadata.csv', index=False)

# Time Series Data

In [ ]:
import time

params = {
    'limit': 'None',
    'format': 'csv',
    }

for _, row in timeseries_df.iterrows():
    
    # request the data from TOAR  API
    ts_id = str(row['timeseries_id'])
    response = requests.get(timeseries_data_url + ts_id, 
                            headers=headers,
                            params=params)
    

    if response.status_code == 200:
        
        # decode bytes to string (utf-8, replace invalid bytes)
        text = response.content.decode('utf-8', errors='replace') if isinstance(response.content, (bytes, bytearray)) else str(response.content)
        metadata = [line[1::] for line in text.splitlines() if line.startswith('#')]
        metadata = json.loads('\n'.join(metadata))
        data = [line for line in text.splitlines() if not line.startswith('#')]
        data = '\n'.join(data)
        
        # save CSV with the timeseries id in the filename
        filename = files_path + f"timeseries_{metadata['id']}.csv"
        
        with open(filename, "wb") as fh:
            fh.write(data.encode('utf-8'))
        print(f"Saved CSV to {filename} ({len(response.content)} bytes)")
        time.sleep(5)
    else:
        print(f"Failed to get CSV: {response.status_code} - {getattr(response, 'text', '')}")

Saved CSV to files/timeseries_18.csv (15544425 bytes)
Saved CSV to files/timeseries_681.csv (1212011 bytes)
Saved CSV to files/timeseries_682.csv (1225885 bytes)
Saved CSV to files/timeseries_683.csv (1493190 bytes)
Saved CSV to files/timeseries_684.csv (1686684 bytes)
Saved CSV to files/timeseries_685.csv (1674279 bytes)
Saved CSV to files/timeseries_686.csv (1588123 bytes)
Saved CSV to files/timeseries_1281.csv (1553744 bytes)
Saved CSV to files/timeseries_1282.csv (1487084 bytes)
Saved CSV to files/timeseries_1283.csv (1454930 bytes)
Saved CSV to files/timeseries_1284.csv (1714804 bytes)
Saved CSV to files/timeseries_1285.csv (1362472 bytes)
Saved CSV to files/timeseries_1448.csv (1485562 bytes)
Saved CSV to files/timeseries_1449.csv (1788423 bytes)
Saved CSV to files/timeseries_1450.csv (1404468 bytes)
Saved CSV to files/timeseries_1451.csv (1747606 bytes)
Saved CSV to files/timeseries_1452.csv (1722527 bytes)
Saved CSV to files/timeseries_1853.csv (1707813 bytes)
Saved CSV to files/timeseries_1854.csv (1679752 bytes)
Saved CSV to files/timeseries_1855.csv (1573941 bytes)
Saved CSV to files/timeseries_1856.csv (1811883 bytes)
Saved CSV to files/timeseries_1857.csv (1785863 bytes)
Saved CSV to files/timeseries_2149.csv (1641112 bytes)
Saved CSV to files/timeseries_2150.csv (1507587 bytes)
Saved CSV to files/timeseries_2151.csv (1562110 bytes)
Saved CSV to files/timeseries_2152.csv (1505734 bytes)
Saved CSV to files/timeseries_2153.csv (1529817 bytes)
Saved CSV to files/timeseries_2243.csv (1171049 bytes)
Saved CSV to files/timeseries_2244.csv (1177654 bytes)
Saved CSV to files/timeseries_2245.csv (1213155 bytes)
Saved CSV to files/timeseries_2246.csv (1249303 bytes)
Saved CSV to files/timeseries_2247.csv (1218374 bytes)
Saved CSV to files/timeseries_2248.csv (1309394 bytes)
Saved CSV to files/timeseries_2484.csv (1547209 bytes)
Saved CSV to files/timeseries_2485.csv (1621798 bytes)
Saved CSV to files/timeseries_2486.csv (1436350 bytes)
Saved CSV to files/timeseries_2661.csv (1209310 bytes)
Saved CSV to files/timeseries_2662.csv (1217530 bytes)
Saved CSV to files/timeseries_2663.csv (1182502 bytes)
Saved CSV to files/timeseries_2664.csv (1209698 bytes)
Saved CSV to files/timeseries_2665.csv (1210095 bytes)
Saved CSV to files/timeseries_2666.csv (1272143 bytes)
Saved CSV to files/timeseries_3040.csv (1740004 bytes)
Saved CSV to files/timeseries_3041.csv (1260233 bytes)
Saved CSV to files/timeseries_3042.csv (491357 bytes)
Saved CSV to files/timeseries_3043.csv (908613 bytes)
Saved CSV to files/timeseries_3089.csv (1150266 bytes)
Saved CSV to files/timeseries_3090.csv (1169388 bytes)
Saved CSV to files/timeseries_3091.csv (1681249 bytes)
Saved CSV to files/timeseries_3092.csv (1739616 bytes)
Saved CSV to files/timeseries_3093.csv (1737714 bytes)
Saved CSV to files/timeseries_3094.csv (1771792 bytes)
Saved CSV to files/timeseries_3206.csv (1693884 bytes)
Saved CSV to files/timeseries_3207.csv (1717793 bytes)
Saved CSV to files/timeseries_3208.csv (1760139 bytes)
Saved CSV to files/timeseries_3209.csv (1734002 bytes)
Saved CSV to files/timeseries_3210.csv (1702850 bytes)
Saved CSV to files/timeseries_3211.csv (1808524 bytes)
Saved CSV to files/timeseries_3322.csv (1733920 bytes)
Saved CSV to files/timeseries_3323.csv (1612149 bytes)
Saved CSV to files/timeseries_3324.csv (1625683 bytes)
Saved CSV to files/timeseries_3325.csv (1538965 bytes)
Saved CSV to files/timeseries_3326.csv (1499818 bytes)
Saved CSV to files/timeseries_3327.csv (1476162 bytes)
Saved CSV to files/timeseries_3416.csv (1872598 bytes)
Saved CSV to files/timeseries_3417.csv (1843005 bytes)
Saved CSV to files/timeseries_3418.csv (1842774 bytes)
Saved CSV to files/timeseries_3419.csv (1819685 bytes)
Saved CSV to files/timeseries_3420.csv (1769806 bytes)
Saved CSV to files/timeseries_3421.csv (1735314 bytes)
Saved CSV to files/timeseries_3803.csv (1547078 bytes)
Saved CSV to files/timeseries_3804.csv (1515511 bytes)
Saved CSV to files/timeseries_3805.csv (760534 bytes)
Saved CSV to files/timeseries_3806.csv (458212 bytes)
Saved CSV to files/timeseries_3807.csv (703870 bytes)
Saved CSV to files/timeseries_3817.csv (1718450 bytes)
Saved CSV to files/timeseries_3818.csv (1498475 bytes)
Saved CSV to files/timeseries_3819.csv (1663263 bytes)
Saved CSV to files/timeseries_3820.csv (1482819 bytes)
Saved CSV to files/timeseries_3821.csv (1403485 bytes)
Saved CSV to files/timeseries_3857.csv (1398516 bytes)
Saved CSV to files/timeseries_3858.csv (1415277 bytes)
Saved CSV to files/timeseries_3859.csv (1388178 bytes)
Saved CSV to files/timeseries_3860.csv (1411508 bytes)
Saved CSV to files/timeseries_3861.csv (745309 bytes)
Saved CSV to files/timeseries_3891.csv (1396387 bytes)
Saved CSV to files/timeseries_3892.csv (1428154 bytes)
Saved CSV to files/timeseries_3893.csv (1327214 bytes)
Saved CSV to files/timeseries_3894.csv (1595402 bytes)
Saved CSV to files/timeseries_3895.csv (1516309 bytes)
Saved CSV to files/timeseries_3896.csv (1597970 bytes)
Saved CSV to files/timeseries_3960.csv (1648365 bytes)
Saved CSV to files/timeseries_3961.csv (1561215 bytes)
Saved CSV to files/timeseries_3962.csv (1636290 bytes)
Saved CSV to files/timeseries_3963.csv (1441426 bytes)
Saved CSV to files/timeseries_3964.csv (1487395 bytes)
Saved CSV to files/timeseries_3966.csv (1661541 bytes)
Saved CSV to files/timeseries_3967.csv (1676418 bytes)
Saved CSV to files/timeseries_3968.csv (1713048 bytes)
Saved CSV to files/timeseries_3969.csv (1724660 bytes)
Saved CSV to files/timeseries_3970.csv (1800571 bytes)
Saved CSV to files/timeseries_10253.csv (281442 bytes)
Saved CSV to files/timeseries_10254.csv (304523 bytes)
Saved CSV to files/timeseries_10255.csv (293943 bytes)
Saved CSV to files/timeseries_10256.csv (287359 bytes)
Saved CSV to files/timeseries_10257.csv (296658 bytes)
Saved CSV to files/timeseries_10259.csv (279723 bytes)
Saved CSV to files/timeseries_10260.csv (280400 bytes)
Saved CSV to files/timeseries_10261.csv (285961 bytes)
Saved CSV to files/timeseries_10262.csv (302279 bytes)
Saved CSV to files/timeseries_10263.csv (184341 bytes)
Saved CSV to files/timeseries_12779.csv (287890 bytes)
Saved CSV to files/timeseries_12780.csv (313584 bytes)
Saved CSV to files/timeseries_12781.csv (307397 bytes)
Saved CSV to files/timeseries_12782.csv (311765 bytes)
Saved CSV to files/timeseries_12783.csv (308394 bytes)
Saved CSV to files/timeseries_14347.csv (288484 bytes)
Saved CSV to files/timeseries_14348.csv (303170 bytes)
Saved CSV to files/timeseries_14349.csv (306400 bytes)
Saved CSV to files/timeseries_14350.csv (304484 bytes)
Saved CSV to files/timeseries_14351.csv (303626 bytes)
Saved CSV to files/timeseries_14401.csv (311116 bytes)
Saved CSV to files/timeseries_14402.csv (302931 bytes)
Saved CSV to files/timeseries_14403.csv (304792 bytes)
Saved CSV to files/timeseries_14404.csv (301190 bytes)
Saved CSV to files/timeseries_14405.csv (304306 bytes)
Saved CSV to files/timeseries_14558.csv (281456 bytes)
Saved CSV to files/timeseries_14559.csv (283255 bytes)
Saved CSV to files/timeseries_14560.csv (307200 bytes)
Saved CSV to files/timeseries_14561.csv (308150 bytes)
Saved CSV to files/timeseries_14595.csv (205863 bytes)
Saved CSV to files/timeseries_14596.csv (295651 bytes)
Saved CSV to files/timeseries_14597.csv (292536 bytes)
Saved CSV to files/timeseries_14598.csv (302531 bytes)
Saved CSV to files/timeseries_14614.csv (308940 bytes)
Saved CSV to files/timeseries_14615.csv (301970 bytes)
Saved CSV to files/timeseries_14616.csv (302115 bytes)
Saved CSV to files/timeseries_14617.csv (299565 bytes)
Saved CSV to files/timeseries_14618.csv (311117 bytes)
Saved CSV to files/timeseries_14619.csv (308970 bytes)
Saved CSV to files/timeseries_14708.csv (258176 bytes)
Saved CSV to files/timeseries_14709.csv (277932 bytes)
Saved CSV to files/timeseries_14710.csv (272667 bytes)
Saved CSV to files/timeseries_14711.csv (232054 bytes)
Saved CSV to files/timeseries_14712.csv (279484 bytes)
Saved CSV to files/timeseries_14713.csv (271966 bytes)
Saved CSV to files/timeseries_14777.csv (242714 bytes)
Saved CSV to files/timeseries_14778.csv (295074 bytes)
Saved CSV to files/timeseries_14779.csv (302886 bytes)
Saved CSV to files/timeseries_14780.csv (301618 bytes)
Saved CSV to files/timeseries_14781.csv (241168 bytes)
Saved CSV to files/timeseries_14782.csv (314058 bytes)
Saved CSV to files/timeseries_14804.csv (300272 bytes)
Saved CSV to files/timeseries_14805.csv (311614 bytes)
Saved CSV to files/timeseries_14806.csv (312170 bytes)
Saved CSV to files/timeseries_14807.csv (318314 bytes)
Saved CSV to files/timeseries_14835.csv (313098 bytes)
Saved CSV to files/timeseries_14836.csv (316200 bytes)
Saved CSV to files/timeseries_14837.csv (307976 bytes)
Saved CSV to files/timeseries_14838.csv (308957 bytes)
Saved CSV to files/timeseries_14839.csv (310060 bytes)
Saved CSV to files/timeseries_14840.csv (318260 bytes)
Saved CSV to files/timeseries_14863.csv (262609 bytes)
Saved CSV to files/timeseries_14864.csv (257037 bytes)
Saved CSV to files/timeseries_14865.csv (257087 bytes)
Saved CSV to files/timeseries_14866.csv (254610 bytes)
Saved CSV to files/timeseries_14867.csv (254275 bytes)
Saved CSV to files/timeseries_14870.csv (302141 bytes)
Saved CSV to files/timeseries_14871.csv (285691 bytes)
Saved CSV to files/timeseries_14872.csv (305427 bytes)
Saved CSV to files/timeseries_14873.csv (301462 bytes)
Saved CSV to files/timeseries_14874.csv (235330 bytes)
Saved CSV to files/timeseries_14875.csv (237219 bytes)
Saved CSV to files/timeseries_14933.csv (241192 bytes)
Saved CSV to files/timeseries_14934.csv (254711 bytes)
Saved CSV to files/timeseries_14935.csv (251628 bytes)
Saved CSV to files/timeseries_14936.csv (257060 bytes)
Saved CSV to files/timeseries_14937.csv (254171 bytes)
Saved CSV to files/timeseries_14938.csv (224122 bytes)
Saved CSV to files/timeseries_14954.csv (280633 bytes)
Saved CSV to files/timeseries_14955.csv (302045 bytes)
Saved CSV to files/timeseries_14956.csv (297190 bytes)
Saved CSV to files/timeseries_14957.csv (248798 bytes)
Saved CSV to files/timeseries_14958.csv (235457 bytes)
Saved CSV to files/timeseries_14959.csv (261772 bytes)
Saved CSV to files/timeseries_14960.csv (250898 bytes)
Saved CSV to files/timeseries_14961.csv (256202 bytes)
Saved CSV to files/timeseries_14962.csv (250424 bytes)
Saved CSV to files/timeseries_14963.csv (248720 bytes)
Saved CSV to files/timeseries_14964.csv (245965 bytes)
Saved CSV to files/timeseries_15024.csv (304832 bytes)
Saved CSV to files/timeseries_15025.csv (294130 bytes)
Saved CSV to files/timeseries_15026.csv (315619 bytes)
Saved CSV to files/timeseries_15081.csv (309163 bytes)
Saved CSV to files/timeseries_15082.csv (310688 bytes)
Saved CSV to files/timeseries_15083.csv (281381 bytes)
Saved CSV to files/timeseries_15084.csv (280403 bytes)
Saved CSV to files/timeseries_15085.csv (306230 bytes)

# Build database

In [21]:
df = pd.DataFrame()
for _, row in timeseries_df.iterrows():
    ts_id = str(row['timeseries_id'])
    station = str(row['station_name'])
    variable = str(row['variable_name'])
    ts_df = pd.read_csv(files_path + f"timeseries_{ts_id}.csv",parse_dates=['datetime'])
    ts_df = ts_df[['datetime','value']].assign(station=station, variable=variable, inplace=True)
    
    df = pd.concat([df, ts_df], ignore_index=True)

In [26]:
df = df.groupby(['station','variable','datetime']).agg({'value':list}).reset_index()
df['value'] = df['value'].apply(lambda x: x[0] if len(x) == 1 else max(x))

In [28]:
df.to_csv(files_path + 'timeseries_data.csv', index=False)